node_modules
.env
.env*.local
note.txt
src/config/supabaseClient.ts
dist/src/config/supabaseClient.js

src/config/systemPrompt.ts
dist/src/config/systemPrompt.js
.vercel
api/local.ts
dist/api/local.js