$primary-bg-color: #05060f;
// $second-bg-color: #0b0d1f;
// $behind-text-bg: #14183a;
$behind-text-bg: #2C2C2C;
$primary-white-blue-color: #d8ecf8;
$primary-white-color: #EFEEEC;
$secondary-light-blue-color: #98c0ef;
$orange-color: #F17625;
$background-color: #070707;
$second-bg-color: #0b0b0b;
$text-gray: #818180;
$borders:(
    1: 1px solid #98c0ef,
    2: 1px solid #10132c,
    3: 1px solid #2C2C2C,
    4: 1px solid #d8ecf8,
);