@import 'mixins';
@import 'variables';

#about-section{
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    flex-wrap: wrap;
}
    #about-paragraph{
        // width: 40%;
        // width: 600px;
        max-width: 600px;
        .between-lines{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: rgba(186, 214, 247, .32);
            .about-me-header{
                @include header-style(15px);
            }
        }
        .between-lines:before{
            @include betweenLines;
        }
        .between-lines:after{
            @include betweenLines;
            transform: rotate(180deg);
        }
        .second-header{
            @include header-style(50px);
            margin: 0;
        }
        p{
            color: $primary-white-color;
            font-size: 17px;
            line-height: 1.5;
            transition: background-color 0.5s ease, padding 0.5s ease;
            
            &.highlighted{
                background-color: #26292b;
                animation: fadeOut 2s forwards; 
    
            }
        }

        #keywords-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            a{
                font-weight: 400;
                padding: 3px 6px;
                // background-color:#0b0d1f ;
                background-color: #0E0E0E;
                border: map-get($borders, 3);
                border-radius: 4px;
                color: $primary-white-color;
                cursor: pointer;

                &:nth-child(1):hover {
                    background-color: #10243e;
                    color: #369eff;
                    border:1px solid #369eff;
                }
                &:nth-child(2):hover {
                    background-color: #3f4306;
                    color: #F7DF1E;
                    border:1px solid #F7DF1E;
                }
                &:nth-child(3):hover {
                    background-color: #671e22;
                    color: #f2555a;
                    border:1px solid #f2555a;
                }
                &:nth-child(4):hover {
                    background-color: #0f291e;
                    color: #3cb179;
                    border:1px solid #3cb179;
                }
            }

        }
    }

@keyframes fadeOut {
    0% {
      background-color:$behind-text-bg ;
    }
    80% {
    background-color: $behind-text-bg ;
    }
    100% {
      background-color: transparent;
    }
  }

  @media (max-width: 768px) {
    #about-section{
        #about-paragraph{
            width: 1000px;
            p{
                color: $primary-white-color;
                font-size: 16px;
            }
            #keywords-container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 1rem 0;
                gap: 0.7rem; 
                text-align: center;
                a{
                    padding: 3px 3px;
                    font-size: 14px;
                }
            }
        }
    }
  }
@media (max-width: 480px) {
    #about-section{
        padding: 2rem 1.5rem;
        #about-paragraph{
            padding: 0;
            .second-header{
                padding: 0;
            }
            p{
                color: $primary-white-color;
                font-size: 16px;
                
            }
            #keywords-container{
                padding: 1rem 0;
                gap: 1rem; 
                flex: 25%;
                a{
                    font-size: 14px;
                }
            }
        }
    }
  }