@import "mixins";
@import "variables";

.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  background-color: #111;
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  .chat-img {
    padding: 0 1rem;
  }
  .chat-messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
  }

  .message {
    margin-bottom: 0.5rem;
    &.assistant {
      // color: #86efac;
      @include header-style2(16px);
    }
    &.user {
      color: #fff;
      color: $primary-white-color;
      text-align: right;
    }
  }

  .chat-input {
    display: flex;
    border-top: 1px solid #444;
    input {
      flex: 1;
      padding: 0.5rem;
      border: none;
      outline: none;
      background: transparent;
      color: #fff;
    }
    button {
      padding: 0.5rem 1rem;
      // background-color: #389dff;
      background-color: $secondary-light-blue-color;
      background-color: $orange-color;
      border: none;
      color: #fff;
      color: $primary-white-color;
      cursor: pointer;
      &:hover {
        background-color: #2a7dd1;
        background-color: #389dff;
      }
    }
  }
}
