@import "mixins";
@import "variables";

.components-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  max-width: 1200px;
  margin: 10rem auto 8rem auto;
  padding: 0 2rem;
  min-height: 100vh;

  .second-header {
    @include header-style(50px);
    margin: 0;
  }
}

.components-cards-container{
  display: flex;
  gap: 1.5rem;
  margin-top: 4rem;
}

/* Card styling */
.component-card {
  background-color: #070707;
  border: map-get($borders, 3);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 180px;
  width: 20%;
  padding: 16px;
  border-radius: 16px;
  text-align: left;
  &__preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    // border: 1px solid blue;
    .component-card__preview-media {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: radial-gradient(circle at top right, #d3d3d3, transparent 20%);
  //   pointer-events: none;
  //   filter: blur(150px);
  // }


  &__category {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 10px;
    color: $primary-white-color;

    svg {
      width: 14px;
      height: 14px;
    }
  }
// &__bottom{
//   border: 1px solid red;
// }
  &__content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid red;

  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
&__bottom{
  display: flex;
  justify-content: space-between;
  border-top: map-get($borders, 3);
padding-top: 10px;
}
  &__label {
    display: inline-block;
    background-color: var(--text-bg, #d3d35476);
    border: var(--card-border, 1px solid #D3D354);
    color: var(--header-color, #D3D354);
    font-size: 10px;
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 50px;
    margin-bottom: 12px;
    align-self: flex-start;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    color: $primary-white-color;
    margin: 0;
    line-height: 1.1;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .components-page {
    min-height: 100%;
  }
  
  .components-cards-container {
    flex-direction: row;
    justify-content: center;
  }

  .component-card {
    width: 30%; // Increase width for fewer cards per row on medium screens
    height: 200px;
    padding: 12px;
  }

  .component-card__title {
    font-size: 14px;
  }

  .component-card__label {
    font-size: 9px;
    padding: 2px 10px;
  }
}

@media screen and (max-width: 768px) {
  .components-cards-container {
    flex-direction: row;
    align-items: center;
  }
  
  .component-card {
    width: 40%; // Full width on smaller devices
    height: 220px;
    padding: 16px;
    margin-bottom: 1.5rem;
  }

  .component-card__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .components-page {
    padding: 0 2rem;
    margin: 5rem auto 4rem auto;

    .second-header {
      @include header-style(36px);
      margin: 0;
    }
    .components-cards-container{
      margin-top: 0;
      gap: 0.5rem;
    }

  }
  
  .component-card {
    width: 100%;
    // height: 240px;
    padding: 12px;
  }

  .component-card__title {
    font-size: 14px;
  }

  .component-card__label {
    font-size: 8px;
    padding: 2px 8px;
  }
}
