.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-spinner {
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  