@import "variables";
@import "mixins";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-white-color;
  background-color: rgba(7, 7, 7, 0.56);
  border-bottom: map-get($borders, 3);
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 50%;

    .logo a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      img{
        width: 25px;
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 15px;
      cursor: pointer;

      .bar {
        width: 100%;
        height: 3px;
        background-color: $primary-white-color;
        transition: all 0.3s ease;
      }
      // Transformations for the X transition
      .bar.top.open {
        transform: translateY(6px) rotate(45deg);
      }

      .bar.bottom.open {
        transform: translateY(-6px) rotate(-45deg);
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 3rem;
      position: relative;
      .coming-soon-message {
        font-family: "Space Mono", serif;
        position: absolute;
        top: 100%; // position below the li content
        left: 50%;
        transform: translate(-50%, 8px); // center horizontally, add 8px space
        background-color: $orange-color;
        color: $primary-white-color;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease;
        pointer-events: none; // so the message doesn't interfere with clicks
        z-index: 10; // ensure it sits above other elements if needed
      }
      li {
      
        a {
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s ease;
          font-weight: 500;
        }
      }
    }
  }

  // Mobile styles
  @media (max-width: 768px) {
    .navbar-container {
      width: 90%;
      position: relative;
      .hamburger {
        display: flex;
      }
      .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 30vh;
        background-color: rgba(7, 7, 7, 0.9);
        background-color: $background-color;
        flex-direction: column;
        // align-items: left;
        gap: 1rem;
        padding: 2rem 0;
        margin: 0;
        // display: none;
        /* Initially hidden */
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.5s ease, transform 0.5s ease;
        li {
          a {
            font-size: 1.4rem;
            padding-left: 2rem;
          }
        }
        &.open {
          display: flex;
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-container {
      .nav-links {
        li {
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
